* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media all and (max-width: 720px) {
  ol {
    font-size: 10px;
  }
}

.background {
  background: url(/img/background.png) center center fixed no-repeat;
  background-size: cover;
}

.center {
  padding: 0 calc(50% - 570px);
}
.center__blocks {
  display: flex;
  justify-content: space-around;
}
@media all and (max-width: 720px) {
  .center__blocks {
    flex-direction: column;
  }
}

.menu {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 32px 0 31px;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media all and (max-width: 720px) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
}

.quiz {
  display: flex;
  margin: 15px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media all and (max-width: 720px) {
  .quiz {
    justify-content: center;
  }
}

.question {
  margin: 15px;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.answer {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.result {
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
}

.admin {
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.37);
}
@media all and (max-width: 720px) {
  .admin {
    text-align: center;
  }
}
.admin__users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin__search {
  padding: 20px 0;
  margin: 5px 0;
}
.admin__questions-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 720px) {
  .admin__questions-edit {
    flex-direction: column;
  }
}

.confirmDelete {
  text-align: center;
  margin: 15px;
  padding: 20px;
  background-color: #ffffff;
}

.input-answer {
  z-index: -1;
  opacity: 0;
}

.input-answer:checked + .btn {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  background-color: #dc3545;
  border-color: #dc3545;
}

.text-space {
  white-space: inherit;
}

.card-border {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.37);
}

.width-rem {
  width: 50rem;
}
@media all and (max-width: 720px) {
  .width-rem {
    width: auto;
  }
}

.btn {
  margin: 4px;
}

.yellow {
  background-color: yellow;
}

.answer-checkbox {
  width: 38px;
  height: 38px;
  position: absolute;
}
@media all and (max-width: 720px) {
  .answer-checkbox {
    width: 46px;
    position: relative;
  }
}
.answer-checkbox__up {
  margin: 0 -45px;
}
.answer-checkbox__center {
  padding-left: 45px;
  margin-bottom: 0;
}
@media all and (max-width: 720px) {
  .answer-checkbox__center {
    padding-left: 0;
  }
}
.answer-checkbox__left {
  width: 95%;
  margin: 0 0 0 35px;
}
@media all and (max-width: 720px) {
  .answer-checkbox__left {
    margin: 0;
  }
}
.answer-checkbox__left_block {
  display: flex;
}

.block-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
